{% extends 'base.html' %}

{% block title %}Archive{% endblock title %}

{% block content %}
<h1>Archives</h1>
<div class="panel panel-default">
<div class="panel-heading">Devis Perdu</div>
    <table class="table">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Date de création</th>
              <th>Status</th>
              <th>Date d'acceptitude</th>
              <th>Client</th>
              <th>Montant</th>
          </tr>
      </thead>
      <tbody>
          {% for project in devPerdu %}
          <tr>
              <th><a href="{% url 'devisdetails' project.name %}">{{ project.name}}</a></th>
              <td>{{ project.creation_date }}</td>
              <td>{{ project.date_refusal}}</td>
              <td>{{ project.status}}</td>
              <th>{{ project.id_client }}</th>
              <th>{{ project.amount }} €</th>
          </tr>
          {% endfor %}
      </tbody>
    </table>
<div class="panel-heading">Factures Payées</div>
    <table class="table">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Date de création</th>
              <th>Status</th>
              <th>Client</th>
              <th>Montant</th>
          </tr>
      </thead>
      <tbody>
          {% for project in factPayee %}
          <tr>
              <th><a href="{% url 'devisdetails' project.name %}">{{ project.name}}</a></th>
              <td>{{ project.creation_date }}</td>
              <td>{{ project.status}}</td>
              <th>{{ project.id_client }}</th>
              <th>{{ project.amount }} €</th>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
