{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Devis Details</div>
        <table class="table">
          <thead>
              <tr>
                  <th>Nom</th>
                  <th>Date de création</th>
                  <th>Client</th>
                  <th>Montant</th>
                  <th>Valider</th>
                  <th>Supprimer</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{ details.name}}</td>
                  <td>{{ details.creation_date }}</td>
                  <th>{{ details.id_client }}</th>
                  <td>{{ details.amount }} €</td>
                  <td><a href="{% url 'edit' details.name %}"><button type="button" name="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></a></td>
                  <td><a href="{% url 'delete' details.name %}"><button type="button" name="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></a></td>
              </tr>
          </tbody>
          </table>
      </div>
      <div class="panel panel-default">
          <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
              </tr>
          </thead>
          <tbody>
              {% for i in details.project_line_set.all %}
              <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.quantity }}</td>
                <th>{{ i.unit_price }} €</th>
              </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock content %}
