{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
<h1>List</h1>
<div class="panel panel-default">
    <div class="panel-heading">Devis En Cours</div>
        <table class="table">
          <thead>
              <tr>
                  <th>Nom</th>
                  <th>Date de création</th>
                  <th>Temps restant</th>
                  <th>Client</th>
                  <th>Gagnée</th>
                  <th>Perdu</th>
              </tr>
          </thead>
          <tbody>
              {% for project in devEnCours %}
              <tr>
                  <td><a href="{% url 'devisdetails' project.name %}">{{ project.name}}</a></td>
                  <td>{{ project.creation_date }}</td>
                  <td>6 mois</td>
                  <th>{{ project.id_client }}</th>
                  <td><form action="{% url 'project-change' name=project.name %}" method="post" style="display: inline;">
                       {% csrf_token %}
                       <input type="hidden" name="name" value="{{ project.name }}" />
                       <button type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                   </form></td>
                   <td><form action="{% url 'project-arch' name=project.name %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="{{ project.name }}" />
                        <button type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </form></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Factures En Cours</div>
            <table class="table">
              <thead>
                  <tr>
                      <th>Nom</th>
                      <th>Date de création</th>
                      <th>Date d'acceptitude</th>
                      <th>Temps restant</th>
                      <th>Client</th>
                      <th>Payée</th>
                  </tr>
              </thead>
              <tbody>
                  {% for project in factEnCours %}
                  <tr>
                      <td><a href="{% url 'devisdetails' project.name %}">{{ project.name}}</a></td>
                      <td>{{ project.creation_date }}</td>
                      <td>{{ project.date_acceptance }}</td>
                      <td>6 mois</td>
                      <th>{{ project.id_client }}</th>
                      <td><form action="{% url 'project-arch' name=project.name %}" method="post" style="display: inline;">
                           {% csrf_token %}
                           <input type="hidden" name="name" value="{{ project.name }}" />
                           <button type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                       </form></td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
        </div>
{% endblock %}
